@import 'assets/styles/colors.css';
@import 'assets/styles/fonts.css';

body {
    font-family: var(--font-primary);
    font-weight: var(--font-weight-roboto-regular);
    font-size: var(--font-size-body);
    color: var(--neutral-black-text);
    line-height: var(--line-height-normal);
    background-color: var(--background-soft);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
